
<p class="pseudo">pseudo
  <input  type="text" id="pseudo" required minlength="3" [(ngModel)]="newCollegue.pseudo"></p>
<p class="nom">nom
  <input type="text" id="nom" required minlength="3" [(ngModel)]="newCollegue.last"></p>
<p class="prenom">prenom
  <input type="text" id="prenom" required minlength="3" [(ngModel)]="newCollegue.first">
</p>
<p class="photoPost">photo
  <input  type="text" id="photo" [(ngModel)]="newCollegue.photo"></p>
<button  class="btn btn-primary"  (click)="postColleague()">Créer le collègue</button>

