/* You can add global styles to this file, and also import other style files */
@import "bootstrap";



.highlight{
  background-color: aqua;
}
h2{
  background-color: black;
}
.buttonlike{
  background-color: forestgreen;
}
.buttonhate{
  background-color: red;
}

*{
  text-align: center;
}
body{
  color: yellow;
  background-image: url('https://cdn.discordapp.com/attachments/1047817743719739456/1071095522284286002/H1wlBCN-unscreen.gif');
  background-repeat: repeat;
  background-color: black;
  background-size: 4%;

}
.collegue{
  border: 5px solid blue;
  margin-bottom: 25px;
}

.historiqueVote{
  margin-top: 150px;
  border: 2px solid black
}
